.table-wrapper {
  max-width: 100%;
  overflow-x: auto; /* Add a horizontal scrollbar when content overflows */
  padding: 10px;
}
@media (max-width: 2000px) {
  /* Add a vertical scrollbar to the table wrapper when screen size is reduced */
  .table-wrapper {
    max-height: 620px;
    overflow-y: auto;
  }
}
table {
  border-collapse: collapse;
  width: 100%;
  height: 100%;
}
thead th {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */

  color: #ffffff;
  background: #212b46;
  padding: 0px 8px 0px 8px;
  white-space: nowrap;
  border: 1px solid #070d19;
}
.bottomHeader th {
  text-align: left;
  height: 44px;
}
.my-checkbox {
  appearance: none;
  width: 15px;
  height: 15px;
  border: 2px solid #6a6e79; /* Set the border to blue */
  border-radius: 2px;
  outline: none;
  transition: all 0.2s ease-in-out; /* Add a smooth transition */
}

.my-checkbox:checked {
  border-color: #6a6e79; /* Change the border color to red when checked */
  background-color: #6a6e79; /* Change the background color to red when checked */
}
.my-checkbox:checked::before {
  content: "\2713"; /* Unicode character for checkmark symbol */
  position: relative;
  top: -6px;
  left: 1px;
  transform: translate(-50%, -50%);
  font-size: 12px;
  line-height: 24.5px;
  color: #ffffff;
}

tbody tr {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #6a6e79;
  background: #070d19;
  border: 1px solid #2B2D32;
}

tbody tr:hover {
  .fullName{
    color: #0E8EBE;
  }
  background-color: #0f131b;
}

tbody tr.selected {
  background-color: #0f131b;
}

td {
  padding: 8px;
  text-align: left;
}

input[type="checkbox"] {
  margin-right: 8px;
}

.TableButtons {
  display: flex;
  justify-content: right;
  gap: 15px;
  padding: 10px;
}
img {
  padding-right: 5px;
  margin-left: 5px;
  margin-top: 5px;
  width: 15px;
  height: auto;
}
/*for the status column*/
.Active {
  color: #B0D136;
}

.Pending {
  color: #0E8EBE;
  ;
}

.RunId {
  transition: 1 ease-out;
}
.RunId:hover {
  cursor: "pointer";
  letter-spacing: 0.5px;
}
